<!DOCTYPE html>
<html>
  <head>
    <title>test page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><%= result.id %></li>
      <li><%= result.pwd %></li>
    </ul>
  </body>
</html>
