<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/auth/register" method="post">
        <p><input type="text" name="user_id" placeholder="user_id"></p>
        <p><input type="password" name="user_pw" placeholder="user_pw"></p>
        <p><input type="text" name="name" placeholder="name"></p>
        <p><button type="submit">SignUp</button></p>
    </form>
</body>
</html>